@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.to-do-app {
  width: 100%;
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.to-do-app .head-section {
  background-color: beige;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 10%;
}
.head-section #main-input {
  width: 350px;
  height: 4vh;
  border-radius: 100px;
  padding-left: 4%;
  padding-right: 3%;
  font-size: 18px;
}
.head-section #add-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: aqua;
  height: 35px;
  width: 35px;
}
.head-section #cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: aqua;
  height: 35px;
  width: 35px;
}

/* CONTENT SECTION */
.list-parent-div {
  background-color: cadetblue;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-content {
  background-color: azure;
}
.list-parent-div #content-checkbox {
  width: 35px;
  height: 25px;
}
.list-parent-div #content-delete-btn {
  width: 55px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
}
